body {
    background-color: #e7e6e6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background: lightskyblue;
    text-align: center;
    padding: 20px 20px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3{
    text-align: center;
}
h4{
    margin: 10px 0px;
    font-weight: normal;
}
p{
    margin: 0px;
}
input{
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}
.title{
    font-size: x-large;
    font-weight: bold;
    color: white;
    font-family: Segoe UI;
}
.subtitle{
    color: grey;
    font-size: medium;
    font-family: Segoe UI;
    font-weight: bold;
}
.luas-subtitle{
    color: white;
    background: rgb(44, 143, 204);
    margin-top: 20px;
    padding: 10px 12px;
    border-radius: 7px 7px 0px 0px;
    min-width: 60%;
}
.keliling-subtitle{
    color: white;
    background: rgb(44, 143, 204);
    margin-top: 20px;
    padding: 10px 12px;
    border-radius: 7px 7px 0px 0px;
    min-width: 60%;
}
.card{
    border: 2px solid rgb(44, 143, 204);
    background: white;
    padding: 10px 10px;
    border-radius: 0px 0px 7px 7px;
    min-width: 60%;
}
.rumus-luas-persegi{
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.rumus-keliling-persegi{
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.figure{
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.example-square{
    border: 1px solid red;
    width: 100px;
    height: 100px;
}
.result-luas{
    display: none;
}
.result-keliling{
    display: none;
}
.hitung-luas{
    min-width: 70px;
    min-height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    background: rgb(24, 116, 177);
    font-size: larger;
    padding: 10px 15px;
}
.hitung-keliling{
    min-width: 70px;
    min-height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    background: rgb(24, 116, 177);
    font-size: larger;
    padding: 10px 15px;
}
.hitung-luas:hover{
    background: rgb(73, 180, 252);
}
.hitung-keliling:hover{
    background: rgb(73, 180, 252);
}
.figure-luas{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.figure-reset{
    display: flex;
    justify-content: flex-end;
}
.reset-luas{
    min-width: 60px;
    min-height: 35px;
    border: none;
    border-radius: 5px;
    color: white;
    background: rgb(207, 173, 20);
}
.reset-keliling{
    min-width: 60px;
    min-height: 35px;
    border: none;
    border-radius: 5px;
    color: white;
    background: rgb(207, 173, 20);
}
.reset-luas:hover{
    background: rgb(255, 226, 99);
}
.reset-keliling:hover{
    background: rgb(255, 226, 99);
}

/* Responsive CSS */
@media only screen and (max-width: 600px) {
    .formula-description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .figure-reset{
        justify-content: center;
    }
    .figure-luas{
        padding: 10px 0px;
    }
    .hitung-luas{
        width: 100%;
    }
    .reset-luas{
        width: 100%;
    }
    .hitung-keliling{
        width: 100%;
    }
    .reset-keliling{
        width: 100%;
    }
}